.header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Add this line */
    top: 0; /* Add this line */
    width: 100%; /* Add this line */
}
  
.logo {
    width: 50px;
    height: 50px;
}